fastapi[all]
uvicorn[standard]
pytest
pytest-asyncio
pylint
black
python-dotenv
pydantic
pydantic-settings
google-genai
httpx
sqlalchemy
asyncpg
psycopg2-binary
aiosqlite
alembic
prometheus-fastapi-instrumentator
PyJWT
boto3
aioboto3
python-multipart
pypdf 
python-docx
sentence-transformers
chromadb
langchain-text-splitters