fastapi[all]
uvicorn[standard]
pytest
pytest-asyncio
httpx
pylint
black
python-dotenv
pydantic
pydantic-settings
google-genai
httpx
sqlalchemy
asyncpg
psycopg2-binary
aiosqlite
alembic
prometheus-fastapi-instrumentator
testcontainers[postgresql]
testcontainers[localstack]
PyJWT
boto3
aioboto3
python-multipart
pypdf 
python-docx